body{
    background-image: linear-gradient(to right,#7c33d7,violet);
    font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  
    
    
}
.sub-container{
    background-color: white;
    padding: 1px;
    width: 800px;
    margin: 40px auto;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;

    
}
td{
    padding: 9px;
}
th{
    background-color: #272562;
    color: white;
    text-align: left;
    padding: 10px;
     
    
}

tr:nth-child(even){
    background-color: rgb(238, 239, 239);
}

